/** Footer Styling **/
.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.credits li{
    display: block;
    padding-left: .5rem;
    margin-left: -2em;
}
  
.credits a{
    text-decoration: none;
    &:hover{
        color: $primary;
    }
}

.social-media-icons{
    ul{
        margin-left: -2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    li{
        display: block;
    }
    a{
        width: 1.3em;
        height: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        border-radius: 10%;
        text-decoration: none;
        margin: 0 .2em;
        &:hover{
            border: 1px solid $primary;
        }
    }
}