/** Image Id Styling **/
#hero-bg{
    background: url(../images/hero.jpg);
    /** Image by Patrick Fore, https://unsplash.com/photos/m9qWesqRN0M **/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
}

#bread{
    background-image: url('../images/bread.jpg');
    /** Image by Wesual Click, https://unsplash.com/photos/rsWZ-P9FbQ4 **/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cake{
    background-image: url('../images/cake.jpg');
    /** Image by Slashio Photography, https://unsplash.com/photos/GKcoau1ESxg **/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#pastry{
    background-image: url('../images/pastry.jpg');
    /** Image by Gaby Yerden, https://unsplash.com/photos/yE_jI4KApfc **/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cutting-board{
    background: url(../images/cutting-board.jpg);
    /** Image by Ales Krivec, https://unsplash.com/photos/QnNqGoCnBg0 **/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

#bakery{
    background: url(../images/bakery.jpg);
    /** Image by Herry Sutanto, https://unsplash.com/photos/SU4fLpg2zgw **/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}