@import "../bootstrap/scss/bootstrap";
@import "_variables";
@import "navbar";
@import "_image-ids";
@import "_carousel";
@import "_footer";

/***** Main Styling *****/  
*{
    font-family: $font-family;
    box-sizing: border-box;
}

html{
	scroll-padding-top: 56px;
}

body{
    position: relative;
    background-color: $primary;
}

#hero-title{
    margin: -36px -18px;
    padding: .3em;
    box-shadow: inset 0px 70px rgba(0, 0, 0, 0.7);
}

.button-color{
    &:hover{
        background-color: black;
        color: $primary; 
    }
}

.specialties-links{
    text-align: center;
    margin: 0 auto;
    padding: .3rem;
    text-decoration: none;
    color: white;
    box-shadow: inset 0px 90px rgba(0, 0, 0, 0.7);
    &:hover{
        color: $primary;
    }
}

.testimonial-cards{
    background-color: #ededed;
    border: 1.5px solid black;
}


/***** Images Not Already Listed 
Macroon image by Oudi 44, https://unsplash.com/photos/HJdSyBk9vig

Cinnabons image by Otto Norin, https://unsplash.com/photos/uG3Vu5TXKxE

Tart image by Bruna Branco, https://unsplash.com/photos/FWaV69D5b8k

Cheesecake image by Fallon Michael, https://unsplash.com/photos/Fde8e30pJL4
*****/    