/***** Meyer Reset *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/***** Main Styling *****/

*{
    box-sizing: border-box;
}

body{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(135, 226, 219);
}

footer{
    text-align: center;
    font-size: 1em;
    color: #103d21;
    font-weight: 700;
}

main{
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em;
}

aside{
    flex-basis: 25%;
    color: #103d21;
    font-size: 1.3em;
    padding: 1.5em;
}
  
/***** Card Styling *****/

.card{
    flex-basis: calc(33.33% - 1em);
    margin: 0.5em;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    background: white;
    padding: .5em;
    font-size: 1.1em;
}

h2{
    text-align: center;
    color: #103d21;
    font-size: 1.5em;
    margin: 0 0 .75em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #103d21;
}
  
.card img{
    width: 100%;
    display: block;
    border-radius: 12px;
    border: 2px solid #103d21;
}
  
.card-content{
    padding: 1em;
    flex-grow: 1;
}

.card-bottom{
    padding: 1em;
    text-align: center;
}


/***** Button Styling *****/
a{
    font-weight: 700;
    color: #103d21;
}
  
a:hover{
    color: rgb(135, 226, 219);
}

.button{
    background-color: rgb(135, 226, 219);
    text-decoration: none;
    padding: 0.4em 0.5em;
    border: 2px solid #103d21;
    border-radius: 10px;
}
  
.button:hover{
    background-color: #103d21;
}

.unsplash{
    text-decoration: none;
}

.unsplash:hover{
    background-color: #103d21;
}